<!DOCTYPE html>
<html>
  <head>
    <%- include ('partial/header') %>
  </head>
  <body>
    <%- include ('partial/navbar') %>
    <div class='container mt-4 lead'>
      <h1>How this works</h1>
      <div class='row'>
        <b>What's the point?</b>
        <p>You are a dog that makes quotes. Other dogs can tip you if they find your quote w0w</p>
      </div>
      <div class='row'>
        <b>How do you tip?</b>
        <p>You tip with real money! This place is for REAL appreciation</p>
      </div>
      <div class='row'>
        <b>How to get money?</b>
        <ol class='pl-4'>
          <li class='pl-4'>Other dogs give you money</li>
          <li>Be randomly blessed by DOGE when you log in</li>
        </ol>
      </div>
      <div class='row'>
        <b>What happens to my money</b>
        <p>Goes to my bank account</p>
      </div>
    </div>

    <%- include ('partial/requiredjs') %>

  </body>
</html>