<!DOCTYPE html>
<html>
  <head>
    <%- include ('partial/header') %>
  </head>
  <body>
    <%- include ('partial/navbar') %>
    <div class='container mt-4'>
      <h1>Share an inspiring quote</h1>
      <form action="/quote/new" method="POST">
        <label for="quote">What great thoughts are on your mind?</label>
        <textarea name="quote" id="quote" class="form-control" rows="5"></textarea>
        <input type="hidden" name="quoter_id" value=<%= userId %>>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>

    <%- include ('partial/requiredjs') %>

  </body>
</html>