<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partial/header')%>
  </head>

  <body >
    <%- include ('../partial/navbar') %>

    <div class="container justify-content-center mt-4 text-center">
      <img src="/thank-you-youre-pawsome.jpg" alt="">
      <p>Thank you for your generous donation.</p>
      <p>Your payment has been received.</p>
      <a href="/dogs/you"><button class="btn btn-primary">Return</button></a>
    </div>
  </body>
</html>
